
/* FOR PHONE */
@media (min-width: 320px) and (max-width: 480px) {
  
    main {
        margin-left: 0%;
        margin-right: 0%;
    }

    .image {
        width: 100%;
        transform: rotate(90deg);
    }
    
  }



/* FOR DESKTOP */
  

@media (min-width: 1281px) {
  
    main {
        margin-left: 15%;
        margin-right: 15%;

    }
    .image {
        width: 100%;
    }
        
    
  }


